// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
	float: left;
    width: 500px;
}
#classImage{position: absolute;
    right: 0px;
    width: 500px;}

#googleMap{
	float: left;
    width: 500px;}

.nearby-locations{
	float: right;
    width: 500px;
}

#classDetails{
	font-family: helvetica;
	color: #8E44AD;
	text-align: left;
	margin: 10px;
}

.class-details{
	width:500px;
	background-color: #ECF0F1;
	font-family: helvetica;
	border: 1px solid grey;
	margin: 10px;
	padding: 10px;
	text-align: left;
	color: #8E44AD;

}

#classLoc{
	font-family: helvetica;
	color: #8E44AD;
	text-align: left;
	margin: 10px;
}

.location-details{
	width:500px;
	background-color: #ECF0F1;
	font-family: helvetica;
	border: 1px solid grey;
	margin: 10px;
	padding: 10px;
	text-align: left;
	color: #8E44AD;
}

#nearbyLocs{
	font-family: helvetica;
	color: #8E44AD;
	text-align: left;
	margin: 10px;
}

.nearby-locations{
	width:500px;
	background-color: #ECF0F1;
	font-family: helvetica;
	border: 1px solid grey;
	margin: 10px;
	padding: 10px;
	text-align: left;
	color: #8E44AD;
}

.nearby-locations{
	float: right;
    width: 500px;
}

#googleMap{
	margin: 10px;

}
