// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<<<<<<< HEAD
.class-details{
	background-color: pink;
	font-family: helvetica;
	border: 1px solid blue;

}

=======

.class_details {
	border: 2px solid black;
	margin: 0 auto;
	text-align: center;
	color: red;
}
>>>>>>> scraper
